<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boardmybatis.mapper2.ArticleMapper">
    <resultMap id="articleMap" type="Article">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result property="content" column="content"/>
        <result property="userId" column="user_id"/>
    </resultMap>

    <insert id="insert" parameterType="Article" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO article(title, content, user_id) VALUES(#{title}, #{content}, #{userId})
    </insert>

    <select id="select" resultMap="articleMap">
        SELECT * FROM article
        <choose>
            <when test="id!=null">
                WHERE id=#{id}
            </when>
            <when test="userId!=null">
                WHERE user_id=#{userId}
            </when>
        </choose>
    </select>

    <update id="update" parameterType="Article">
        UPDATE article SET title=#{title}, content=#{content} WHERE id=#{id}
    </update>

    <delete id="delete" parameterType="int">
        DELETE FROM article WHERE id=#{id}
    </delete>

</mapper>