<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.boardmybatis.mapper2.UserMapper">
    <resultMap id="userMap" type="User">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result property="userId" column="user_id"/>
        <result property="password" column="password"/>
    </resultMap>

    <insert id="insert" parameterType="User" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO user(name, user_id, password) VALUES(#{name}, #{userId}, #{password})
    </insert>

    <select id="select" resultMap="userMap">
        SELECT * FROM user
        <choose>
            <when test="userId!=null">
                WHERE user_id=#{userId}
            </when>
            <when test="id!=null">
                WHERE id=#{id}
            </when>
        </choose>
    </select>

</mapper>