<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="jdbcTypeForNull" value="NULL"/>
    </settings>
    <typeAliases>
        <typeAlias type="com.example.boardmybatis.domain.User" alias="user"></typeAlias>
        <typeAlias type="com.example.boardmybatis.domain.Article" alias="article"></typeAlias>
    </typeAliases>

    <mappers>
        <mapper resource="mappers/article.xml"/>
        <mapper resource="mappers/user.xml"/>
    </mappers>
</configuration>