<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<th:block layout:fragment="content">
    <h1 th:text="${article.title}"></h1>
    <small><a th:text="${article.userId}" th:href="@{/user/{id}(id=${article.userId})}"></a></small>
    <p th:text="${article.content}"></p>
    <small th:text="${article.hits}"></small>
    <form th:if=${sameUser} th:action="@{{id}/edit(id=${article.id})}" method="get">
        <input type="submit" value="Edit">
    </form>
    <form th:if="${sameUser}" th:action="@{{id}/delete(id=${article.id})}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete">
    </form>

    <div th:if="${loginUser}">
        <form>
            <input id="newReplyText" type="text" placeholder="Write a comment."/>
            <button id="uploadReply" type="button">Comment</button>
        </form>
    </div>

    <div id="replyListBox"></div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:inline="javascript">

        /*<![CDATA[*/
            var article_id = /*[[ ${article.getId()} ]]*/;
            var loginUser = "[[${loginUser}]]";
        /*]]>*/

        function getReplyList(){

            $.ajax({
                type: "post",
                url: "/reply/"+article_id,
                dataType: "text"
            })
            .done(function (result) {
                $("#replyListBox").replaceWith(result);
            })

        }
        function uploadReply(){
            var reply_textObj = $("#newReplyText");
            var reply_textVal = reply_textObj.val();

            var reply_writer=null;

            /*<![CDATA[*/
                if(loginUser){
                    reply_writer = /*[[ ${loginUser.getUserId()} ]]*/;
                }
            /*]]>*/

            $.ajax({
                type: "POST",
                url: "/reply",
                headers: {
                    "Content-Type" : "application/json",
                    "X-HTTP-Method-Override": "POST"
                },
                dataType: "text",
                data: JSON.stringify({
                    articleId: article_id,
                    content: reply_textVal,
                    writer: reply_writer
                })
            })
            .done(function (result) {
                console.log(result);
                getReplyList();
                reply_textObj.val("");
                reply_writerObj.val("");
            })
            .always(function (){
                getReplyList();
            })
        }
        $(document).ready(function(){
            getReplyList();
        });
        $('#uploadReply').click(function(){
            uploadReply();
        });
    </script>
</th:block>
</html>