<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<th:block layout:fragment="content">
    <h1 th:text="${article.title}"></h1>
    <small><a th:text="${article.userId}" th:href="@{/user/{id}(id=${article.userId})}"></a></small>
    <p th:text="${article.content}"></p>
    <small th:text="${article.hits}"></small>
    <form th:if=${sameUser} th:action="@{{id}/edit(id=${article.id})}" method="get">
        <input type="submit" value="Edit">
    </form>
    <form th:if="${sameUser}" th:action="@{{id}/delete(id=${article.id})}" method="post">
        <input type="hidden" name="_method" value="delete"/>
        <input type="submit" value="Delete">
    </form>

    <div>
        <form>
            <input id="newReplyText" type="text" placeholder="Write a comment."/>
            <input id="newReplyWriter" type="text" placeholder="작성자"/>
            <button type="button" onclick="getReplyList()">Comment</button>
        </form>
    </div>

    <div id="replyListBox"></div>
</th:block>
<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script th:inline="javascript">
    function getReplyList() {

        var reply_text = $("#newReplyText");
        var reply_writer = $("#newReplyWriter");

        var reply_textVal = reply_text.val();
        var reply_writerVal = reply_writer.val();

        $.ajax({
            type: "POST",
            url: "/reply",
            headers: {
                "Content-Type" : "application/json",
                "X-HTTP-Method-Override": "POST"
            },
            dataType: "text",
            data: JSON.stringify({
                content: reply_textVal,
                writer: reply_writerVal
            })
        })
            .done(function (result) {
                console.log("result: " + result);
                $("#replyListBox").replaceWith(result);
            })
        }
    </script>
</th:block>
</html>