<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<th:block layout:fragment="content">
    <form method="post">
        <input type="hidden" name="_method" value="put">
        <input name="title" type="text" placeholder="제목" th:value="${article.title}" required>
        <input name="content" type="text" placeholder="내용" th:value="${article.content}" required>
        <input type="submit" value="Edit">
    </form>
</th:block>
</html>