<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
    <div th:fragment="headerFragment">
        <nav class="nav">
            <ul th:if="${loginUser}">
                <li><a href="/">Home</a></li>
                <li><a href="/article/upload">Upload</a></li>
                <li><a th:href="@{/user/{id}(id=${loginUser.userId})}">Profile</a></li>
                <li><a href="/user/logout">LogOut</a></li>
            </ul>
            <ul th:unless="${loginUser}">
                <li><a href="/">Home</a></li>
                <li><a href="/login">Upload</a></li>
                <li><a href="/join">Join</a></li>
                <li><a href="/login">LogIn</a></li>
            </ul>
        </nav>
        <
    </div>
</html>