<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container">
    <h1>Ajax 호출</h1>
    <button type="button" onclick="getMemberList()">모든 멤버 찾기</button>

    <div id="memberListContent"></div>
</div>

</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<script th:inline="javascript">
    function getMemberList() {
        console.log("hi");
        $.ajax({
            type: "post",
            url: "/members/search",
            // data: form, // api 호출을 위한 요청 변수가 필요하다면 사용해주세요.
            dataType: "text"
        })
            .done(function (result) {
                console.log(result);
                $("#memberListContent").replaceWith(result);
            })
            .fail(function(jqXHR) {
                console.log(jqXHR);
            })
            .always(function() {
                console.log("요청, 응답 결과에 상관없이, 이건 항상 실행됩니다.");
            })
    }
</script>
</html>